html {
  scroll-behavior: smooth;
}

body {
         color:white;
         background-color: rgb(52, 56, 60);
        }
        h1 {
          font-family: Poppins;
        }
        
        img {
         border-radius: 5px; 
        }
        
        p {
         font-family: Open Sans; 
        }
        
        invite a:hover {
         background: rgb(39, 161, 196);
        }
